# Do not include azure-functions-worker in this file
# The Python Worker is managed by the Azure Functions platform
# Manually managing azure-functions-worker may cause unexpected issues

azure-functions
azure-data-tables
azure-storage-queue
PyJWT
pytest



eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJ0ZXN0dXNlciIsImlhdCI6MTcyODk4NjM3MSwiZXhwIjoxNzI5MDcyNzcxfQ.lvsXwJcLd_RtuCHcgoSk1tZ3kFodqI_QjUSAthy1a9g

eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJ0ZXN0dXNlciIsImlhdCI6MTcyOTA2NjgwOCwiZXhwIjoxNzI5MTUzMjA4fQ.nZfzC368U9uapcBeH2dQ8cCdz5EaiB-ESPi1l6AUHZU